body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Wallpaper_of_Stars_Shoot_Jets_in_Cosmic_Playground.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
	background-color: #1a1a1a;
}
h1 {
	color: white;
	margin: 40px auto 20px;
	text-align: center;
}
.vroomvroom {
	font-family: 'Luckiest Guy', cursive;
	font-size: 1.5em;
}
.space {
	font-family: 'Fontdiner Swanky', cursive;
	padding: 8px;
	font-size: 2.5em;
}
#streamcontainer {
	margin: auto;
	width: 1240px;
	height: 756px;
}
#livestream {
	width: 1240px;
	height: 756px;
	display: block;
	margin: auto;
}

#livestreamlink {
	font-size: 1em;
	color: white;
	float: left;
}
