body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Wallpaper_of_Stars_Shoot_Jets_in_Cosmic_Playground.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
	background-color: #1a1a1a;
	color: white;
}
h1 {
	margin: 40px auto 20px;
	text-align: center;
}
.vroomvroom {
	font-family: 'Luckiest Guy', cursive;
	font-size: 1.5em;
}
.space {
	font-family: 'Fontdiner Swanky', cursive;
	padding: 8px;
	font-size: 2.5em;
}
#streamcontainer {
	margin: auto;
	width: 80%;
	clear: both;
}
#livestream {
	width: 1240px;
	height: 756px;
	display: block;
	margin: auto;
}

#description {
	font-size: 1em;
	text-align: center;
	display: block;
	width: 35%;
	padding: 1em;
	margin: 1em auto;
    background: rgb(53, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(54, 25, 25, .75);
    box-shadow: 0 0 15px 10px rgba(54, 25, 25, .75);
	border-radius: 55px;
}

p {
	font-size: 1.75em;
	color: white;
	display: inline-block;
	margin: 0 auto 1.5em;
	padding-left: .5em;
	padding-right: .5em;
}

a {
	color: white;
}

h2 {
	font-size: 2em;
}
